    <% if @recipe.errors.any? %>
        <% @recipe.errors.full_messages.each do |msg| %>
            <div class="alert alert-danger" role="alert">
                <%= msg %>
            </div>
        <% end %>
    <% end %>

    <%= f.label :title, "Recipe Name" %>
    <%= f.text_field :title, :class => 'form-control', required: true %>
    <%= f.label :prep_time, 'Prep Time' %>
    <%= f.number_field :prep_time, min: 1, :class => 'form-control', required: true %>
    <%= f.label :cook_time, 'Cook Time' %>
    <%= f.number_field :cook_time, min: 1, :class => 'form-control', required: true %>
    <%= f.label :servings %>
    <%= f.number_field :servings, min: 1, :class => 'form-control', required: true %>
    <%= f.label :origin, 'Country Origin' %>
    <%= f.country_select :origin, {include_blank: true}, {:class => 'form-control'}  %>

    <h4>Ingredients</h4>
    <div class="ingredients">
        <%= f.fields_for :ingredients do |builder| %>
            <%= render 'ingredient_fields', f: builder %>
        <% end %>
    </div>

    <%= link_to_add_association 'Add Ingredient', f, :ingredients, class: 'btn btn-primary mt-1', data: {
        association_insertion_node: '.ingredients', association_insertion_method: :append} %>

     <h4>Directions</h4>
     <div class="steps">
        <%= f.fields_for :steps, @recipe.steps.sort_by(&:sequence) do |builder| %>
            <%= render 'step_fields', f: builder %>
        <% end %>
     </div>
    <%= link_to_add_association 'Add Step', f, :steps, class: 'btn btn-primary mt-1 mb-5', data: {
        association_insertion_node: '.steps', association_insertion_method: :append} %>
    
    <div class="text-center">
        <%= f.submit class: "pd btn btn-success" %>
    </div>
